
<%= link_to "相談する",new_problem_path  %>
<%= link_to :back do %>
  <label>ひとつ前に戻る</label>
  <td> <%= link_to "赤ちゃん選択画面" , babies_path %></td>
<% end %>
<table>
	<thead>
		<th>みんなのお悩み</th>
	</thead>
	<tbody>
	 <% @problems.each do |problem| %>
<tr>
	<td><%= problem.category.problem_name %>
		<%=  problem.customer.name %>
		<%= link_to problem.body,problem_path(problem) %>
	</td>
</tr>
<% end %>
</tbody>
</table>

