<div class="container problem-wrapper">
	<div class="row">
        <div class="col-xs-10">
        	<div class="search">
				<%= form_tag problems_path, :method => 'get' do %>
					<p>
					    <%= text_field_tag :search, params[:search] ,placeholder: "キーワード検索" %>
					    <%= submit_tag "検索", :body => nil %>
					</p>
				<% end %>
				<%= form_tag(problems_path, method: "get") do %>
					<%= select_tag "problem_name", options_for_select([["夜泣き", "夜泣き"],["睡眠","睡眠"],["沐浴","沐浴"],["授乳","授乳"]])  %>
					<%= submit_tag "検索" %>
				<% end %>
			</div>
			<h1>お悩み相談室</h1>
			<div class="problem-table"><%= link_to "投稿画面",new_problem_path  %>
			 <%= link_to "赤ちゃん選択画面" , babies_path %></div>
			<table class="table">
				<th>カテゴリ</th>
				<th>投稿者</th>
				<th>投稿内容</th>
					 <% @problems.each do |problem| %>
						<tr>
							<td class="problem-category col-xs-3" ><%= problem.category.problem_name  %></td>
							<td ><%= problem.customer.name   %><span class="problemname">さん</span></td>
							<td><%= link_to problem.body,problem_path(problem) %></td>
						</tr>
					<% end %>
			</table>
			<%= paginate @problems  %>
		</div>
	</div>
</div>