<h2>お悩み詳細</h2>
<%= link_to "相談する",new_problem_path  %>
<table class="table">
	<tr>
		<td><%= @problem.category.problem_name %></td>
	</tr>
	<tr>
		<td><%= @problem.body %></td>
	</tr>
		<td>コメント数：<%= @problem.comments.count %></td>
	</tr>
</table>
<table>
	<h3>コメント</h3>
		<%= form_for (@comment) ,url: comments_path  do |f| %>
		<%= f.text_area :body %>
		<%= f.hidden_field :problem_id, :value => @problem.id %>
		<%= f.submit "投稿する" %>
		<% end %>

	<% @comments.each do |comment| %>
	<tr>
		<td><%= comment.body %></td>
		<!--   <% if comment.favorited_by?(current_customer) %>
		   <td><%=link_to "#", comment_likes_path(comment.id), method: :delete, remote: true %>
        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i></td><td><%= comment.likes.count %></td>
    <% else %>
        <td><%=link_to "#", comment_likes_path(comment.id), method: :post, remote: true %>
        <i class="fa fa-heart-o" aria-hidden="true"></i></td><td><%= comment.likes.count %></td>
        ] <% end %> -->

        <td id="likes_buttons_<%= comment.id %>">
			<%= render partial: 'likes/like', locals: { comment: comment} %>
		</td>
		<% if comment.customer_id == current_customer.id %>
		<td><%= link_to "削除",  comment_path(comment), method: :delete %></td>
		<% end %>
	<% end %>
	</tr>
</table>

