<div class="container">
	<div style="padding-top:50px"><%= @baby_image.created_at.strftime('%Y/%m/%d') %></div>
		<%= attachment_image_tag @baby_image,:baby_image, size: "1200x700",format: 'jpeg' %>
	<div class="image-customer">
		<%= link_to customer_path(@baby_image.customer_id) do %>
		<%= attachment_image_tag @baby_image.customer,:image, :fill,80,80,format: 'jpeg' ,fallback: "no_image.jpg",class: "baby-customer-image" %>
		<% end %>
		<span><%= @baby_image.body %></span>
		<div><%= "by" + @baby_image.customer.name %></div>
		<% if @baby_image.customer_id == current_customer.id %>
			<%= link_to "Edit", edit_baby_image_path(@baby_image) %>
			<%= link_to "Delete", baby_image_path(@baby_image) ,method: :delete %>
		<% end %>
		<span class="fa fa-comment"><%= @baby_image.baby_image_comments.count %></span>
		<button class="problem-comment-btn">コメントする</button>
	</div>

	<div class="baby-comment-area">
		<div class="problem-comment-box">
			<h3>コメント投稿フォーム</h3>
			<%= form_for [@baby_image, @baby_image_comment] do |f| %>
				<%= f.text_area :body %><br>
				<%= f.submit 'Post' ,class: "problem_btn" %>
			<% end %>
		</div>
		<% @baby_image.baby_image_comments.each do |baby_comment| %>
			<div class="comment-content">
				<%= link_to customer_path(baby_comment.customer_id) do %>
				<%= attachment_image_tag baby_comment.customer,:image, :fill,50,50,format: 'jpeg',fallback: "no_image.jpg" ,class: "customer-image" %></span>
				<% end %>
				<%= baby_comment.created_at.strftime('%Y/%m/%d') %><br>
				<span class="comment-body"><%= baby_comment.body %></span>
				<% if baby_comment.customer_id == current_customer.id %>
					<%= link_to baby_image_baby_image_comment_path(baby_comment.baby_image,baby_comment) ,method: :delete do %>
					<i class="far fa-trash-alt"></i>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>