<div class="container">
	<div class="modal1">
         <p class="tokei-box" id="RealtimeClockArea2"></p>
         <h2>ミルク・記録</h2>
         <%= form_for [@baby, @milk_powder] do |f| %>
               <% if @milk_powder.errors.any? %>
                  <% @milk_powder.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
               <% end %>
               <% end %>
            <div class="milk-powder-select">
               <%= f.select :body, grouped_options_for_select(MilkPowder::SELECT_OPTIONS), {include_blank: '授乳量を選択'} ,class: "milk-option"  %><br>
            </div>
            <%= f.submit 'Create',class: "textfield-btn"  %>
         <% end %>
         <%= link_to "Back", baby_path(@baby.id) %>
   </div>
</div>

<script>
      function set2fig(num) {
      var ret;
      if( num < 10 ) { ret = "0" + num; }
      else { ret = num; }
      return ret;
   }
   function showClock2() {

      var nowTime = new Date();
      var nowHour = set2fig( nowTime.getHours() );
      var nowMin  = set2fig( nowTime.getMinutes() );
      var msg =  "時刻 " + nowHour + "時" + nowMin + "分" ;
      document.getElementById("RealtimeClockArea2").innerHTML = msg;
   }
   setInterval('showClock2()',1000);
</script>