<div class="container">
	<div class="modal1">
        <h2>SELECT BABY</h2>
			<table class="table">
				<tbody>
				 	<% @babies.each do |baby| %>
						<tr>
							 <td><%= baby.baby_name +  "(" + baby.sex + ")" %></td>
							 <td><%= link_to "選択",  baby_path(baby.id) %></td>
							 <td><%= link_to "編集", edit_baby_path(baby.id) %></td>
							 <td><%= link_to "削除", baby_path(baby.id), method: :delete, data: { confirm: '本当に消しますか？' } %></td>
						</tr>
					<% end %>
				</tbody>
				<tr>
					<td><%= link_to "赤ちゃんを追加", new_baby_path ,class: "btn btn-default"%></td>
				</tr>
			</table>
	</div>
</div>