<%= link_to "母乳", new_baby_mother_milks_path(@baby) %>
<%= link_to "ミルク", new_baby_milk_powders_path(@baby) %>
<%= link_to "排泄",  new_baby_excretions_path(@baby) %>
<%= link_to "体温", new_baby_body_temperatures_path(@baby) %>
<%= link_to "体重",  new_baby_body_weights_path(@baby) %>
<%= link_to "相談", problems_path  %>
<%= link_to "履歴"  %>








<!-- <h2>赤ちゃんの詳細ページ</h2>
	<table>
	  <thead>
			<tr>
				<th>お名前</th>
				<th>生年月日</th>
				<th>性別</th>
			</tr>
	  </thead>
	  <tbody>
	   <tr>
		<td><%= @baby.baby_name %></td>
		<td><%= @baby.birth %></td>
		<td><%= @baby.sex %></td>
	   </tr>
	  </tbody>
	</table>
		<%= link_to "赤ちゃん追加", new_baby_path	 %>
		<%= link_to "赤ちゃん編集", edit_baby_path(:id)%> -->