<h2>赤ちゃんの詳細ページ</h2>
	<table>
	  <thead>
			<tr>
				<th>お名前</th>
				<th>生年月日</th>
				<th>性別</th>
			</tr>
	  </thead>
	  <tbody>
	   <tr>
		<td><%= @baby.baby_name %></td>
		<td><%= @baby.birth %></td>
		<td><%= @baby.sex %></td>
	   </tr>
	  </tbody>
	</table>
		<%= link_to "赤ちゃん追加", new_baby_path	 %>
		<%= link_to "赤ちゃん編集", edit_baby_path(:id)%>