<section id="mv" >
		<h1 class="top-title">管理項目一覧</h1>
	<div class="top-items">
		<%= link_to admins_categories_path do %>
		<div class="top-box1">
			<div>Category</div>
		</div>
		<% end %>
		<%= link_to admins_problems_path do%>
		<div class="top-box2">
			<div>子育て相談室</div>
		</div>
		<% end %>
		<%= link_to admins_baby_images_path do %>
		<div class="top-box3">
			<div>Baby自慢室</div>
		</div>
		<% end %>
		<%= link_to admins_baby_image_comments_path do %>
		<div class="top-box4">
			<div>画像コメント</div>
		</div>
		<% end %>
		<%= link_to admins_comments_path do %>
		<div class="top-box5">
			<div>相談室コメント</div>
		</div>
		<% end %>
	</div>
</section>