<h2>オシメ・編集</h2>
<%= form_for(@excretion) do |f| %>


	<%=f.radio_button :only, 'excretion1' %><i class="fas fa-poo" ></i>
	<%=f.radio_button :only, 'excretion2' %><i class="fas fa-baby" ></i>
	<%=f.radio_button :only, 'excretion3' %><i class="fas fa-poo" ></i><br>


	<style>
		input[type=radio] {
		display: none;
		}
	</style>

		<%= f.text_area :body %><br>
		<%= f.submit '保存する' %>
<% end %>
