<div class="container">
	<div class="row">
        <div class="col-xs-3">
        	<p id="RealtimeClockArea2"></p>
			<h2>おむつ・記録</h2>
			<%= form_for [@baby, @excretion] do |f| %>

				<i class="fas fa-poo" ></i>
				<%=f.radio_button :only, "うんち" ,data: {"tubolinks" => false} %>うんち
				<i class="fas fa-baby" ></i>
				<%=f.radio_button :only, "おしっこ" ,data: {"tubolinks" => false} %>おしっこ
				<i class="fas fa-poo" ></i>
				<%=f.radio_button :only, "どっちも",data: {"tubolinks" => false}  %>どっちも<br>
					<%= f.text_area :body %><br>
					<%= f.submit '保存する' %>
				<% end %>
				<%= link_to "戻る", baby_path(@baby.id) %>
		</div>
	</div>
</div>

<style>
	input[type=radio] {
	display: none;
		 }
</style>
<script>
	function set2fig(num) {
	   var ret;
	   if( num < 10 ) { ret = "0" + num; }
	   else { ret = num; }
	   return ret;
	}
	function showClock2() {

	   var nowTime = new Date();
	   var nowHour = set2fig( nowTime.getHours() );
	   var nowMin  = set2fig( nowTime.getMinutes() );
	   var msg =  "時刻 " + nowHour + "時" + nowMin + "分" ;
	   document.getElementById("RealtimeClockArea2").innerHTML = msg;
	}
	setInterval('showClock2()',1000);
</script>