<h2>オシメ</h2>
	<p id="RealtimeClockArea2"></p>
	<script src="application.js"></script>

<%= form_for [@baby, @excretion] do |f| %>


	<i class="fas fa-poo" ></i>
	<%=f.radio_button :only, "うんち" ,data: {"tubolinks" => false} %>うんち
	<i class="fas fa-baby" ></i>
	<%=f.radio_button :only, "おしっこ" %>おしっこ
	<i class="fas fa-poo" ></i>
	<%=f.radio_button :only, "どっちも" %>どっちも<br>

	<style>
		 input[type=radio] {
		 display: none;
		 }
	</style>

		<%= f.text_area :body %><br>
		<%= f.submit '保存する' %>
<% end %>
