<div class="container">
	<div class="modal1">
         <p class="tokei-box" id="RealtimeClockArea2"></p>
         <h2>体温・記録</h2>
         <%= form_for [@baby,@body_temperature] do |f| %>
            <% if @body_temperature.errors.any? %>
               <% @body_temperature.errors.full_messages.each do |message| %>
               <li><%= message %></li>
            <% end %>
            <% end %>
            <%= f.text_field :body %>℃<br>
            <%= f.submit 'Create' ,class: "btn btn-primary" %>
           <% end %>
         <%= link_to "Back", baby_path(@baby.id) %>
   </div>
</div>

<script>
      function set2fig(num) {
      var ret;
      if( num < 10 ) { ret = "0" + num; }
      else { ret = num; }
      return ret;
   }
   function showClock2() {
      var nowTime = new Date();    // 現在日時取得
      var nowHour = set2fig( nowTime.getHours() ); //抜き出すメソッド
      var nowMin  = set2fig( nowTime.getMinutes() );
      var msg =  "時刻 " + nowHour + "時" + nowMin + "分" ;
      document.getElementById("RealtimeClockArea2").innerHTML = msg;
   }
   setInterval('showClock2()',1000);
</script>