<!DOCTYPE html>
<html>
  <head>
    <title>LovelyBaby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/9f7238856e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <div class="wrap">
    <header class="header">
        <nav>
            <% if customer_signed_in?
                   if request.fullpath.index("/admins/") == nil%>
                  <div class="menu">
                      <ul>
                        <li><%= link_to (image_tag 'logo2.jpg'),root_path, class: "logo2 " %></li>
                      </ul>
                      <ul class="nav-right">
                        <%= link_to root_path do %>
                        <i class="fas fa-home"></i>Home
                        <% end %>
                        <%= link_to customer_path(current_customer.id) do %>
                        <i class="fas fa-user"></i>MyPage
                        <% end %>
                     <!--    <li><%= link_to problems_path do %></li>
                          <i class="fas fa-hands-helping ">相談室</i>
                        <% end %> -->
                        <!-- <li><%= link_to homes_about_path do %></li>
                          <i class= "fas fa-book-open 2x"></i>About
                        <% end %> -->
                        <%= link_to destroy_customer_session_path, method: :delete do %>
                        <i class="fas fa-sign-out-alt"></i>LogOut
                        <% end %>
                      </ul>
                  </div>

                  <span class="fa fa-bars menu-icon "></span>
                  <span class="fas fa-times close-icon"></span>

                  <% if @baby && @baby.baby_name %>
                      <ul class="navbar-brand baby-name">
                          <li><%= link_to @baby.baby_name, babies_path %></li>
                      </ul>
                  <% end %>
                <% end %>
                <% elsif admin_signed_in? %>
                      <ul>
                          <li><%= link_to (image_tag 'logo2.jpg'),root_path ,class: "logo2" %></li>
                      </ul>
                      <ul class="nav nav-right">
                          <%= link_to admins_categories_path do %>
                          <i class="far fa-window-maximize fas"></i>Category
                          <% end %>
                          <%= link_to admins_comments_path do %>
                          <i class= "fas fa-book-open 2x"></i>Comment
                          <% end %>
                          <%= link_to admins_problems_path do %>
                          <i class="fas fa-hands-helping"></i>Problem
                          <% end %>
                          <%= link_to destroy_admin_session_path, method: :delete do %>
                          <i class="fas fa-sign-out-alt"></i>LogOut
                          <% end %>
                      </ul>
                <% else %>
                <div class="menu">
                      <ul>
                          <li><%= image_tag 'logo2.jpg' ,class: "logo2" %></li>
                      </ul>
                      <ul class="nav navbar-nav nav-right">
                          <%= link_to new_customer_session_path do %>
                          <i class="fas fa-user-plus"></i>SignUp
                          <% end %>
                          <%= link_to new_customer_session_path do %>
                          <i class="fas fa-sign-in-alt"></i>LogIn
                          <% end %>
                        <!--    <%= link_to homes_about_path do %>
                          <i class= "fas fa-book-open 2x"></i>About
                          <% end %> -->
                          <%= link_to new_admin_session_path do %>
                          <i class="fas fa-sign-in-alt"></i>Admin
                          <% end %>
                      </ul>
                </div>
          　<% end %>
        </nav>
    </header>
    <div class ="contents">
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class="container">
      <p>Copyright ©2020 Lovely Baby, All Rights Reserved.</p>
    </div>
  </footer>
  </body>
</html>