<!DOCTYPE html>
<html>
  <head>
    <title>LovelyBaby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/9f7238856e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="container">
       <nav>

        <% if customer_signed_in?
               if request.fullpath.index("/admins/") == nil%>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-left">
                <li><%= image_tag 'logo.jpg', size: '160x60' %></li>
              </ul>
            <ul class="nav navbar-nav navbar-right">
              <span><i class="fas fa-hands-helping"></i>
               <li><%= link_to "悩みを相談", problems_path  %></li></span>
               <span><i class= "fas fa-book-open 2x"></i>
               <li><%= link_to "使い方",homes_about_path  %></li></span>
               <span><i class="glyphicon glyphicon-log-out logout"></i>
               <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li></span>
            </ul>

          <% if @baby && @baby.baby_name %>
            <ul class="navbar-brand">
               <li><%= link_to @baby.baby_name, babies_path %></li>
            </ul>
          <% end %>
        </div>
        <% end %>
        <% elsif admin_signed_in? %>
            <ul class="nav navbar-nav navbar-left">
              <li><%= image_tag 'logo.jpg', size: '160x60' %></li>
            </ul>
            <ul class="nav navbar-right">
                <i class="glyphicon glyphicon-log-out logout"></i><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                <i class= "fas fa-book-open 2x"></i>
                <%= link_to 'コメント一覧',  admins_comments_path %>
                <i class="fas fa-hands-helping"></i>
                <%= link_to 'お悩み一覧' ,  admins_problems_path %>
            </ul>
        <% else %>
            <ul class="nav navbar-nav navbar-left">
              <li><%= image_tag 'logo.jpg', size: '160x60' %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <i class= "fas fa-book-open 2x"></i>
              <%= link_to "使い方",homes_about_path  %>
              <i class="glyphicon glyphicon-log-in sign_in"></i>
              <%= link_to "管理者の方はこちら", new_admin_session_path %>
            </ul>
        <% end %>
      </nav>
      </nav>
      </div>
    </header>
    <%= yield %>
       <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-offset-9 footer-text">
          <p>Lovely Baby</p>
        </div>
        </div>
      </div>
    </footer>
  </body>
</html>
