<!DOCTYPE html>
<html>
  <head>
    <title>LovelyBaby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/9f7238856e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? && request.fullpath.index("/admin/") == nil %>
      <nav>
        <ul>
          <% current_customer.babies.each do |baby| %>
            <li>
              <%= link_to baby.baby_name, baby_path(baby) %>
            </li>
            <else>
              <h4>ログイン未</h4>
          <% end %>
        </ul>
      </nav>
      <% end %>
    </header><!-- /header -->
    <%= yield %>
  </body>
</html>
